/* fonts */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-mono: 'Roboto Mono', monospace;

$font-enorm: 72px;
$font-gigant: 46px;
$font-huge: 36px;
$font-large: 32px;
$font-bigger: 28px;
$font-big: 24px;
$font-medium: 20px;
$font-small: 18px;
$font-smaller: 16px;
$font-regular: 14px;
$font-code: 12px;
$font-tiny: 10px;

$font-sub-sup-size: 0.5em;

$theme-font-sizes: (
    enorm: $font-enorm,
    gigant: $font-gigant,
    huge: $font-huge,
    large: $font-large,
    bigger: $font-bigger,
    big: $font-big,
    medium: $font-medium,
    small: $font-small,
    smaller: $font-smaller,
    regular: $font-regular,
    code: $font-code,
    tiny: $font-tiny
);
// colors

$primary: #4abdac;
$secondary: #fc4a1a;
$light: #dfdce3;
$dark: #2c2c2d;
$accent: #f76733;
$white: #ffffff;
$black: #000000;

/* color sets */
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    light: $light,
    dark: $dark,
    accent: $accent
);

// paddings

$padding: 1em;

// border

$border-radius: 0;

// main content parameters
$content-width: 1024px;
$content-align: center;

// icon size
$icon-size: 18px;

// size for check- and radio boxes
$max-control-size: 18px;
