nav.swtk-navbar {
  @include horizontal-menu($font-primary, $font-smaller, $white, $white, $secondary);
  .swtk-brand {
      white-space: nowrap;
      &:hover {
          background-color: $accent;
          font-weight: bold;
      }
  }
  .swtk-toggle {
      @include badge-outline($font-primary, $font-small, $white);

      &:hover {
          color: $white;
          border: 1px solid $white;
          font-weight: bold;
          background-color: $accent;
      }
  }

  li {
    &:hover {
        background-color: $accent;
        font-weight: bold;
    }
  }
}

.swtk-vertical-sidebar .menu,
.swtk-vertical-menu,
.swtk-vertical-sidebar div[class^='menu'] {
    @include vertical-menu($font-primary, $font-regular, $primary, $secondary, none);
}

.swtk-horizontal-sidebar div[class^='menu'] {
    @include horizontal-sidebar-menu($font-primary, $font-smaller, $primary, $secondary, none);
}

div.swtk-pagination,
div.swtk-comments-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include pagination();

    a {
        @include badge-outline($font-primary, $font-regular, $secondary);
    }

    span.current {
        @include badge-no-hover($font-primary, $font-regular, $secondary);
    }

    a, span.current {
        padding: $padding / 2;
        margin: 0;
    }
}

.swtk-posts-navigation {
    @include posts-navigation();
    padding: $padding;
    font-family: $font-primary;
    font-size: $font-code;
}
