article.swtk-post-index {
  @include col-6();
  @include simple-column-post();

  @include post-image(block, 2) {
      max-width: 100%;
      margin-bottom: $padding / 2;

      max-height: 200px;
      overflow: hidden;
  }

  @include post-date(flex, 1) {
      font-family: $font-primary;
      font-size: $font-regular;
      color: $accent;
      text-transform: uppercase;
      font-stretch: expanded;

      margin-bottom: $padding / 2;
  }

  @include post-title(flex, 3) {
      @extend .swtk-h5;
      margin-bottom: $padding / 2;

      a {
          color: $primary;
          text-transform: uppercase;

          &:hover {
              text-decoration: none;
              color: $accent;
          }
      }
  }

  @include post-author(flex, 4) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $padding / 2;
      font-family: $font-primary;
      font-size: $font-regular;

      .swtk-icon {
          margin-right: $padding;
      }
  }

  @include post-content(flex, 5) {
      margin-bottom: $padding / 2;
  }

  @include post-categories(flex, 6) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      ul.post-categories {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin: 0;
          padding: 0;

          list-style-type: none;

          li {
              font-family: $font-primary;
              font-size: $font-code;
              text-transform: uppercase;
              padding-right: $padding;
               a {
                   text-decoration: none;
                   color: $primary;

                   &:hover {
                       text-decoration: none;
                       color: $accent;
                   }
               }

               &:nth-child(n+4) {
                   display: none;
               }

               &:nth-child(3) {
                   a:after {
                       content: "...";
                   }
               }
          }
      }
  }

  @include post-tags(flex, 7) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      a {
          font-family: $font-primary;
          font-size: $font-code;
          text-transform: uppercase;
          padding-right: $padding;
          text-decoration: none;
          color: $primary;

          &:hover {
              text-decoration: none;
              color: $accent;
          }

          &:nth-child(n+5) {
              display: none;
          }

          &:nth-child(4):after {
              content: "...";
          }
      }
  }
}

article.swtk-post-single {
  @include col-12();
  @include simple-column-post();

  padding-top: 0;

  @include post-image(block, 1) {
      max-width: 100%;
      height: auto;
      margin-bottom: $padding / 2;

  }

  @include post-date(flex, 2) {
      font-family: $font-primary;
      font-size: $font-regular;
      color: $accent;
      text-transform: uppercase;
      font-stretch: expanded;

      margin-bottom: $padding / 2;
  }

  @include post-title(flex, 3) {
      @extend .swtk-h1;
      margin-bottom: $padding / 2;
      width: 100%;
      border-bottom: 1px solid $secondary;
      color: $secondary;
  }

  @include post-author(flex, 4) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }
  }

  @include post-content(block, 5) {
      flex-direction: column;
      margin-bottom: $padding / 2;
  }

  @include post-categories(flex, 6) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      ul.post-categories {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin: 0;
          padding: 0;

          list-style-type: none;

          li {
              font-family: $font-primary;
              font-size: $font-code;
              text-transform: uppercase;
              padding-right: $padding;
               a {
                   text-decoration: none;
                   color: $primary;

                   &:hover {
                       text-decoration: none;
                       color: $accent;
                   }
               }
          }

      }
  }

  @include post-tags(flex, 7) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      a {
          font-family: $font-primary;
          font-size: $font-code;
          text-transform: uppercase;
          padding-right: $padding;
          text-decoration: none;
          color: $primary;

          &:hover {
              text-decoration: none;
              color: $accent;
          }
      }
  }

  @include post-pages(flex, 8) {
      margin-right: $padding;

      * {
          margin-right: $padding;
          font-family: $font-primary;
          font-size: $font-regular;
      }

      a {
          @include link($secondary, $accent, false);
          margin-left: $padding;
      }
  }
} /*  .swtk-post-single */

.sticky,
article.swtk-post-sticky {
  @include col-12();
  @include simple-row-post();

  background-color: $light;
  padding: $padding;
  border: 1px solid $accent;


  @include post-image(block, 0) {
      max-width: 50%;
      padding-right: $padding;
      float: right;
  }

  @include post-date(flex, 1) {
      font-family: $font-primary;
      font-size: $font-regular;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: $padding / 2;
  }

  @include post-title(flex, 2) {
      @extend .swtk-h4;
      margin-bottom: $padding / 2;

      a {
          color: $secondary;
          text-transform: uppercase;

          &:hover {
              text-decoration: none;
              color: $accent;
          }
      }
  }

  @include post-author(flex, 3) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $padding / 2;
      font-family: $font-primary;
      font-size: $font-regular;
      .swtk-icon {
          margin-right: $padding;
      }
  }

  @include post-content(flex, 4) {
      margin-bottom: $padding / 2;
  }

  @include post-categories(flex, 5) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      ul.post-categories {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin: 0;
          padding: 0;

          list-style-type: none;

          li {
              font-family: $font-primary;
              font-size: $font-code;
              text-transform: uppercase;
              padding-right: $padding;
               a {
                   text-decoration: none;
                   color: $primary;

                   &:hover {
                       text-decoration: none;
                       color: $accent;
                   }
               }

               &:nth-child(n+4) {
                   display: none;
               }

               &:nth-child(3) {
                   a:after {
                       content: "...";
                   }
               }
          }
      }
  }

  @include post-tags(flex, 6) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: $padding / 2;

      .swtk-icon {
          margin-right: $padding;
      }

      a {
          font-family: $font-primary;
          font-size: $font-code;
          text-transform: uppercase;
          padding-right: $padding;
          text-decoration: none;
          color: $primary;

          &:hover {
              text-decoration: none;
              color: $accent;
          }

          &:nth-child(n+5) {
              display: none;
          }

          &:nth-child(4):after {
              content: "...";
          }
      }
  }
}
