.swtk-vertical-sidebar > .widget {
    @include widget($font-primary, $font-smaller, $secondary, $font-primary, $font-code, $primary, $accent);
    padding-bottom: $padding;

    ul {
        padding-left: 0;
    }

    li {
        padding-bottom: $padding / 4;
    }
}

.swtk-horizontal-sidebar > .widget {
    @include horizontal-widget($font-primary, $font-smaller, $secondary, $font-primary, $font-code, $primary, $accent);
    padding-bottom: $padding;

    ul {
        padding-left: 0;
    }
}

.swtk-vertical-sidebar > .widget_archive {
    li {
        padding: $padding/2 0 $padding/2 0;
        border-bottom: 1px solid $light;

        &:hover {
            padding-left: $padding;
        }
    }
    .swtk-widget-archive-count {
        @include badge();
    }
}

.swtk-horizontal-sidebar > .widget_archive {
    li {
        padding: $padding/2 0 $padding/2 0;
    }
    .swtk-widget-archive-count {
        @include badge();
    }
}

.swtk-vertical-sidebar > .widget_categories {
    & > ul {
        padding-left: 0;
        & > li {
            padding: $padding/2 0 $padding/2 0;
            border-bottom: 1px solid $light;
        }
    }

    .swtk-widget-category-count {
        @include badge();
    }
}

.swtk-horizontal-sidebar > .widget_categories {
    & > ul {
        padding-left: 0;
        & > li {
            padding: $padding/2 0 $padding/2 0;
        }
    }

    .swtk-widget-category-count {
        @include badge();
    }
}

.swtk-vertical-sidebar > .widget_recent_entries,
.swtk-vertical-sidebar > .widget_recent_comments {
    @include widget-column-elements();

    li {
        padding-bottom: 1em;
        border-bottom: 1px solid $light;
    }
}

.swtk-horizontal-sidebar > .widget_recent_entries,
.swtk-horizontal-sidebar > .widget_recent_comments {
    @include widget-row-elements();
    span {
        margin-left: $padding/2;
        margin-right: $padding/2;
    }
    a {
        padding-left: $padding/2 !important;
        padding-right: $padding/2 !important;
    }
}

.widget_recent_entries, .widget_recent_comments {
    li {
        color: adjust-color($light, -64, -64, -64);
    }
}


.widget_tag_cloud {
    a {
        @include badge-outline($font-primary, $font-code, $primary);
        display: inline-flex;
        padding: $padding / 5;
        margin: $padding / 5;
        white-space: nowrap;

        span {
            padding-left: $padding / 5;
        }
    }
}

.widget_calendar {
    @include widget-calendar($font-primary, $font-regular, $secondary, $font-primary, $font-code, $primary, $accent);
}

.widget_search {
    padding: 0 0 $padding 0;
}

.swtk-vertical-sidebar > .widget_pages {
    @include vertical-menu($font-primary, $font-regular, $primary, $secondary, none);
}

.swtk-horizontal-sidebar > .widget_pages {
    @include horizontal-sidebar-menu($font-primary, $font-regular, $primary, $secondary, none);
}

.swtk-horizontal-sidebar > .widget_media_gallery {
    @include media-gallery(4);
}

.swtk-vertical-sidebar > .widget_media_gallery {
    @include media-gallery(1);
}

.swtk-footer-sidebar {
    & > * {
        @include col-4();
        padding: $padding;
    }
}
